{% extends 'base.html' %}

{% block contents %}
<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
        <form method="POST" action="">{% csrf_token %} 
            <div class="form-floating mb-3">
                <input type="text" class="form-control" name="title" placeholder="text">
                <label for="floatingInput">タイトル</label>
            </div>
            <div class="d-grid gap-2 col-6 mx-auto" style="height: 25%;">
                <button class="btn btn-secondary" type="submit">検索</button>
            </div>
            
        </form>
</div>
{% endblock contents %}