<select v-model="selected">
    {% for key, kinokuniya_store in kinokuniya_stores.items %}
        <option id = 'key' value="{{ key }}">{{ key }}</option>
    {% endfor %}
    </select>


    {% for key, value in books_data.items %}
    <p v-for="(value, tag) in books_datas">
        <h3>
            {% if value.isbn != "null" %}
                <a href="{%url 'stores' value.isbn %}">{{ value.title }}</a>
            {% else %}
                {{ value.title }}
            {% endif %}
        </h3>
        {% if value.img_data == "null" %}
            <img src="{% static 'images/not_book.jpg' %}" style="height:150px">
        {% else %}
            <img src='{{ value.img_data }}'>
        {% endif %}
        </br>
    </p>
    {% endfor %}